Автор материала: Зраев Артем.

Можно использовать в каких угодно целях.

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

Данные лежат на google диске по [ссылке](https://drive.google.com/file/d/1g8lsZO25O2SxuCrIYVSDV3eLqmfC-TCZ/view?usp=sharing).

In [1]:
!wget 'https://drive.google.com/uc?export=download&id=1g8lsZO25O2SxuCrIYVSDV3eLqmfC-TCZ' -O WA_Fn-UseC_-Telco-Customer-Churn.csv

"wget" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.
"id" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [2]:
import pandas as pd
import numpy as np

In [157]:
df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [158]:
#Ваш код здесь
total_person = df['gender'].shape[0]
share_Female = round(df[df['gender'] == 'Female'].shape[0] / total_person, 4)
share_Male = round(df[df['gender'] == 'Male'].shape[0] / total_person, 4)
print(f'Доля Female = ', share_Female)
print(f'Доля Male = ', share_Male)

Доля Female =  0.4952
Доля Male =  0.5048

##### 2. Какое количество уникальных значений у поля InternetService?

In [159]:
#Ваш код здесь
df['InternetService'].unique().size

3

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [160]:
def correct(val):
    new_val = "".join([char for char in val if char in ['.', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']])
    if (new_val == ' ') | (new_val == ''):
        new_val = '0'
    return float(new_val)

In [161]:
df['TotalCharges'].dtypes

dtype('O')

In [162]:
df['TotalCharges'].head()

0      29.85
1     1889.5
2     108.15
3    1840.75
4     151.65
Name: TotalCharges, dtype: object

In [8]:
df['TotalCharges'] = df['TotalCharges'].apply(correct)

In [9]:
#Ваш код здесь
print(f'Медиана = ', df['TotalCharges'].median())
print(f'Среднее = {df["TotalCharges"].mean():0.2f}')
print(f'Среднеквадратическое отклонение = {df["TotalCharges"].std():0.2f}')
print(f'max = {df["TotalCharges"].max():0.2f}')
print(f'min = {df["TotalCharges"].min():0.2f}')

Медиана =  1394.55
Среднее = 2279.73
Среднеквадратическое отклонение = 2266.79
max = 8684.80
min = 0.00

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [163]:
def correct_Yes_No(val):
    return 1 if val == 'Yes' else 0

In [164]:
#Ваш код здесь
df['PhoneService']

0        No
1       Yes
2       Yes
3        No
4       Yes
       ...
7038    Yes
7039    Yes
7040     No
7041    Yes
7042    Yes
Name: PhoneService, Length: 7043, dtype: object

In [165]:
df['PhoneService'] = df['PhoneService'].apply(correct_Yes_No)

In [166]:
df['PhoneService']

0       0
1       1
2       1
3       0
4       1
       ..
7038    1
7039    1
7040    0
7041    1
7042    1
Name: PhoneService, Length: 7043, dtype: int64

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [167]:
def cleaning_TotalCharges(val):
    new_val = "".join([char for char in val if char in ['.', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']])
    return np.nan if (new_val == '') else np.single(new_val)

In [168]:
#Ваш код здесь
df['TotalCharges'].head()

0      29.85
1     1889.5
2     108.15
3    1840.75
4     151.65
Name: TotalCharges, dtype: object

In [170]:
df['TotalCharges'] = df['TotalCharges'].apply(cleaning_TotalCharges)

In [171]:
df['TotalCharges'].head()

0      29.850000
1    1889.500000
2     108.150002
3    1840.750000
4     151.649994
Name: TotalCharges, dtype: float64

In [172]:
df.isna().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

#### Использую .isna

In [82]:
df.loc[df['TotalCharges'].isna(), 'TotalCharges'] = 0

In [83]:
df.loc[df['TotalCharges'].isna(), 'TotalCharges']

Series([], Name: TotalCharges, dtype: float64)

#### Использую .fillna

In [173]:
df['TotalCharges'].fillna(0, inplace=True)

In [174]:
df.loc[df['TotalCharges'].isna(), 'TotalCharges']

Series([], Name: TotalCharges, dtype: float64)

In [175]:
df.loc[df['TotalCharges'] == 0, 'TotalCharges']

488     0.0
753     0.0
936     0.0
1082    0.0
1340    0.0
3331    0.0
3826    0.0
4380    0.0
5218    0.0
6670    0.0
6754    0.0
Name: TotalCharges, dtype: float64

#### Статистики

In [176]:
print(f'Медиана = ', df['TotalCharges'].median())
print(f'Среднее = {df["TotalCharges"].mean():0.2f}')
print(f'Среднеквадратическое отклонение = {df["TotalCharges"].std():0.2f}')
print(f'max = {df["TotalCharges"].max():0.2f}')
print(f'min = {df["TotalCharges"].min():0.2f}')

Медиана =  1394.550048828125
Среднее = 2279.73
Среднеквадратическое отклонение = 2266.79
max = 8684.80
min = 0.00

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [ ]:
#Ваш код здесь

In [177]:
df['Churn'].unique()

array(['No', 'Yes'], dtype=object)

In [178]:
df['Churn'] = df['Churn'].apply(correct_Yes_No)

In [179]:
df['Churn'].unique()

array([0, 1], dtype=int64)

In [180]:
df['Churn']

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int64

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [ ]:
#Ваш код здесь

In [181]:
df['StreamingMovies'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [182]:
df['StreamingTV'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [183]:
df['TechSupport'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [184]:
columns_1 = ['StreamingMovies', 'StreamingTV', 'TechSupport']
df[columns_1].head()

  StreamingMovies StreamingTV TechSupport
0              No          No          No
1              No          No          No
2              No          No          No
3              No          No         Yes
4              No          No          No

In [185]:
df[columns_1] = df[columns_1].applymap(correct_Yes_No)

##### 8. Заполните пропуски в поле PhoneService значением 0

In [ ]:
#Ваш код здесь

In [186]:
df.PhoneService.isna().sum()

0

In [187]:
df.PhoneService.unique()

array([0, 1], dtype=int64)

##### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [188]:
df.columns.tolist()

['customerID',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'MonthlyCharges',
 'TotalCharges',
 'Churn']

In [189]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
#Ваш код здесь
#df_ = df[columns]
#df.columns.tolist()

In [190]:
columns

['gender',
 'tenure',
 'PhoneService',
 'TotalCharges',
 'StreamingMovies',
 'StreamingTV',
 'TechSupport',
 'Churn']

In [191]:
df = df[columns]
df.tail(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
7040,Female,11,0,346.450012,0,0,0,0
7041,Male,4,1,306.600006,0,0,0,1
7042,Male,66,1,6844.500000,1,1,1,0

##### 9. Разделите датасет на тренировочную и тестовую выборку.

In [143]:
from sklearn.model_selection import train_test_split

In [192]:
features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
#Ваш код здесь
# X = df.drop(columns='Churn')
# y = df[target]
X_train, X_test, y_train, y_test = train_test_split(df[features], df[target], test_size=0.25, shuffle=True, random_state=42)
X_train.head()

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport
6607,Male,1,0,25.299999,0,0,0
2598,Female,7,1,525.000000,0,0,0
2345,Female,4,1,85.500000,0,0,0
4093,Female,29,1,2215.250000,0,0,0
693,Female,3,1,270.700012,0,0,0

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [147]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

In [193]:
#Ваш код здесь
gender = Pipeline([
                ('selector1', ColumnSelector(key = 'gender')),
                ('selector2', OHEEncoder(key = 'gender'))
            ])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [194]:
#Ваш код здесь
gender.fit_transform(X_train)

      gender_Female  gender_Male
6607              0            1
2598              1            0
2345              1            0
4093              1            0
693               1            0
...             ...          ...
3772              0            1
5191              1            0
5226              0            1
5390              0            1
860               0            1

[5282 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

In [195]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [196]:
#Ваш код здесь
TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

Объединение всех "кубиков" очень легко сделать таким образом

In [197]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [198]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [199]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features', feats),
    ('classifier', RandomForestClassifier(random_state=42)),
])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key=['PhoneService',
                                                                                      'StreamingMovies',
                                                                                      'StreamingTV',
                                                                                      'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('selector1',
                                                                  ColumnSelector(key='gender')),
                                                                 ('selector2',
                                                                  OHEEncoder(key='gender'))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [200]:
#Ваш код здесь
pred = pipeline.predict(X_test)

##### 15. Посчитайте метрики качества получившейся модели (roc_auc)

In [203]:
from sklearn.metrics import roc_auc_score

#Ваш код здесь
#np.mean(pred == y_test)
roc_auc_score(y_test, pred, average=None)

0.6847354896283534

### Сохраним наш пайплайн

In [205]:
pip install dill

Collecting dill
  Downloading dill-0.3.4-py2.py3-none-any.whl (86 kB)
Installing collected packages: dill
Successfully installed dill-0.3.4
Note: you may need to restart the kernel to use updated packages.

In [206]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)